body{
    background: gold;
    background:url(https://images.wallpapersden.com/image/download/abstract-shapes-2021-minimalist_bG1lZm6UmZqaraWkpJRmbmdmrWZlbWY.jpg)
}

.container{
    padding: 40px 60px;
    color:white;
}

.current-info{
    display: flex;
    flex-wrap: wrap;
}

.date-container .time{
    font-size: 80px;
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}



.current-info .others{
    display: flex;
    flex-direction: column;
    background: white;
    padding:20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 5px solid rgb(0, 0, 0);
}


.future-forecast{
    background: orangered;
    padding: 25px;
    position:fixed;
    bottom: 0;
    display: flex;
    color:black;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.future-forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding:15px;
    padding-right: 40px;
    border-radius: 10px;
    background: gold;
}

.future-forecast .today .day{
    padding: 5px 15px;
    background: #cbff11;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp{
    font-size: 18px;
    padding-top: 15px;
}

.future-forecast .weather-forecast{
    display: flex;
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 5px solid rgb(3, 3, 3);
    padding: 15px;
    border-radius: 10px;
    background: rgb(167, 156, 156)
}



